* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0f0f0f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-box {
    background-color: #1c1c1c;
    padding: 30px 25px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    color: white;
}

.todo-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #3c3c3c;
    color: white;
}

.add-btn {
    width: 100px;
    background-color: purple;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

#task-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#task-list li {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    width: 90px;
    background-color: #d11a2a;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.task-done-btn {
    background-color: #3a3a3a !important;
    color: #888 !important;
    transition: all 0.3s ease;
  }

.task-done-btn p {
    text-decoration: line-through;
}